
body{

background:#111;
color:white;
font-family:Arial, Helvetica, sans-serif;
margin:0;
text-align:center;

}

header{

background:#000;
padding:20px;

}

h1{

margin:0;

}

/* reproductor */

.player-section{

margin-top:30px;

}

.player-wrapper{

width:900px;
height:500px;
margin:auto;
background:black;
border-radius:10px;
overflow:hidden;
box-shadow:0 0 20px rgba(0,0,0,0.8);

}

#videoPlayer{

width:100%;
height:100%;
object-fit:contain;

}

/* canales */

h2{

margin-top:40px;

}

#channelList{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
padding:40px;

}

.channel-card{

background:#1c1c1c;
border-radius:10px;
padding:15px;
cursor:pointer;
transition:0.3s;

}

.channel-card:hover{

background:#e50914;
transform:scale(1.05);

}

.channel-card img{

width:100%;
height:80px;
object-fit:contain;

}

.channel-card p{

margin-top:10px;

}

/* responsive movil */

@media (max-width:900px){

.player-wrapper{

width:95%;
height:220px;

}
.playlist-loader{

margin-top:30px;

}

.playlist-loader{

display:flex;
justify-content:center;
align-items:center;
gap:10px;
margin-top:30px;
margin-bottom:20px;

}

.playlist-loader input{

width:450px;
max-width:70%;
padding:12px 15px;
border-radius:8px;
border:none;
outline:none;
font-size:14px;
background:#1c1c1c;
color:white;
box-shadow:0 0 10px rgba(0,0,0,0.4);

}

.playlist-loader input::placeholder{

color:#aaa;

}

.playlist-loader button{

padding:12px 20px;
border:none;
border-radius:8px;
background:#e50914;
color:white;
font-weight:bold;
cursor:pointer;
transition:0.2s;

}

.playlist-loader button:hover{

background:#ff2a2a;
transform:scale(1.05);

}
  
}
